<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key><string>English</string>
    <key>CFBundleExecutable</key><string>focus-stack-gui</string>
    <key>CFBundleGetInfoString</key><string>focus-stack VERSION Copyright 2020 Petteri Aimonen</string>
    <key>CFBundleIconFile</key><string>droplet.icns</string>
    <key>CFBundleIdentifier</key><string>com.github.PetteriAimonen.focus-stack</string>
    <key>CFBundleDocumentTypes</key><array>
        <dict>
			<key>CFBundleTypeExtensions</key><array><string>*</string></array>
			<key>CFBundleTypeOSTypes</key><array><string>****</string></array>
			<key>CFBundleTypeRole</key><string>Viewer</string>
		</dict>
	</array>
    <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleSignature</key><string>fstk</string>
    <key>CFBundleShortVersionString</key><string>VERSION</string>
    <key>CFBundleVersion</key><string>VERSION</string>
    <key>NSHumanReadableCopyright</key><string>Copyright 2020 Petteri Aimonen</string>
    <key>LSMinimumSystemVersion</key><string>10.3</string>
</dict>
</plist>

